.navbar {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.navbar.fixed {
  position: fixed;
  margin: 0 auto;
}
a::first-letter {
  text-transform: uppercase;
}
.navbar-brand {
			font-family: MullerMedium, sans-serif;
			font-size: 20px;
			letter-spacing: 1px;
		}
.special {
			font-family: MullerExtraBold, sans-serif;;
			font-size: 40px;
		}
.form-floating {
			font-family: MullerMedium, sans-serif;
			font-size: 18px;
		}
