.scroll {
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #fff;
  z-index: 2;
}
.navbar.fixed {
  position: fixed;
  margin: 0 auto;
}
a::first-letter {
  text-transform: uppercase;
}
.navbar-brand {
			font-family: MullerMedium, sans-serif;
			font-size: 20px;
			letter-spacing: 1px;
		}
.special {
			font-family: MullerExtraBold, sans-serif;;
			font-size: 40px;
		}
.form-floating {
			font-family: MullerMedium, sans-serif;
			font-size: 18px;
		}

.news-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.news-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.news-text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.news-container:hover .news-text-container {
    opacity: 1;
}

