<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/stylename.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light">
       <a class="navbar-brand" href="/">
			<span class="special">IT-ЖУРНАЛ</span>
		</a>
    <nav class="ms-auto">
		<a class="navbar-brand" href="/account">{{ current_user.username }}</a>
        <a class="navbar-brand" href="/logout">Выход</a>
      </nav>
    </nav>

</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
	<body>
	<style>
		h1	{
			font-family: MullerMedium, sans-serif;
			font-size: 55px;
			letter-spacing: 1px;
		}
		label {
		    font-family: MullerMedium, sans-serif;
			font-size: 22px;
			letter-spacing: 1px;
		}
	</style>
	<div class="container my-5">
    <h1 class="text-center mb-5">Настройки аккаунта</h1>
    <form method="POST" action="{{ url_for('account') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя:</label>
            {{ form.username(class="form-control", id="username", required=True) }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            {{ form.email(class="form-control", id="email", required=True) }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            {{ form.password(class="form-control", id="password", required=True) }}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Изменить">
        </div>
    </form>
</div>
</body>

	{% endblock %}
</main>
</body>

