{% extends "base.html" %}
<main role="main" class="container">
  {% block content %}
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <title>Административная панель</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/dash.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Добро пожаловать в административную панель новостного сайта!</h1>
      <p>Здесь вы можете добавлять и редактировать новости, управлять категориями и настраивать сайт.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Добавление</h2>
        <p>В этом разделе вы можете добавлять новости.</p>
        <p><a class="btn btn-default" href="/add_news">Перейти &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Редакция</h2>
        <p>В этом разделе вы можете редактрировать новости.</p>
        <p><a class="btn btn-default" href="/editor">Перейти &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Удаление</h2>
        <p>В этом разделе вы можете удалить новости.</p>
        <p><a class="btn btn-default" href="/del_news">Перейти &raquo;</a></p>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</main>