{% extends "base.html" %}
<title>Удаление новостей</title>
<main role="main" class="container">
  {% block content %}
    <style>
            /* Добавим стиль для увеличения прокрутки страницы вниз */
            .container {
                margin-bottom: 80px; /* Увеличьте этот отступ вниз по мере необходимости */
            }
        </style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title>Удаление новостей</title>
    <!-- Подключаем Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Удаление новостей</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for news in all_news %}
                <tr>
                    <td>{{ news.title }}</td>
                    <td>{{ news.date }}</td>
                    <td>
                        <form method="post" action="{{url_for('delete_news', id=news.id)}}">
                            <a href="/delete_news/{{ news.id }}" class="btn btn-primary mx-auto" style="position: center; bottom: 0;">Удалить новость</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Подключаем JavaScript и jQuery для взаимодействия с веб-страницей -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
    {% endblock %}
</main>