<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/stylename.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light">
       <a class="navbar-brand" href="/">
			<span class="special">IT-ЖУРНАЛ</span>
		</a>
    <nav class="ms-auto">
        <a class="navbar-brand" href="/account">{{ user.username }}</a>
        <a class="navbar-brand" href="/logout">Выход</a>
      </nav>
    </nav>

</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>