<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/img/лого-вкладка-сайта.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/лого-вкладка-сайта.ico" type="image/x-icon">
        <title>Двоичные Загадки</title>

        <link rel="stylesheet" href="/static/css/assets/styles.css" />
        <script src="/static/js/assets/game.js" defer></script>
    </head>
    <body>
        <div class="game">
            <div class="controls">
                <button>Играть</button>
                <div class="stats">
                    <div class="moves">0 ходов</div>
                    <div class="timer">время: 0 сек</div>
                </div>
            </div>
            <div class="board-container">
                <div class="board" data-dimension="4"></div>
                <div class="win">You won!</div>
            </div>
        </div>
    </body>
</html>