{% extends "base.html" %}
{% block content %}
<head>
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <p>
            <label for="username">Имя пользователя:</label>
            <input type="text" name="username" required>
        </p>
        <p>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
        </p>
        <p>
            <input type="submit" value="Войти">
        </p>
    </form>
</body>
{% endblock %}
