{% extends "base.html" %}
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      div{
      font-family: MullerMedium, sans-serif;
			font-size: 20px;
      }
      }
    </style>
    <link href="/static/css/product.css" rel="stylesheet">
    <main>
  <div class="position-relative overflow-hidden text-center mx-auto">
      <h1>{{ news.title }}</h1>
      <div>{{ news.content }}</div>
</div>
</main>
    {% endblock %}
</main>
</body>