{% extends "base.html" %}
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      div{
      font-family: MullerMedium, sans-serif;
			font-size: 20px;
      }
      }
    </style>
    <link href="/static/css/product.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-6 my-3 order-md-2 d-flex align-items-center justify-content-center">
      <img src="/static/img/{{ news.photo }}" style="max-width: 100%; height: 700px; object-fit: cover; border-radius: 20px;">
    </div>
    <div class="col-md-6 my-3 order-md-1">
      <div class="position-relative mx-auto" style="height: 700px; overflow: auto;">
        <h1>{{ news.title }}</h1>
        <div>{{ news.content }}</div>
      </div>
    </div>
  </div>
</div>
{% if current_user.is_authenticated %}
        {% if current_user.has_liked(news) %}
          <a href="{{ url_for('unlike', news_id=news.id) }}" class="btn btn-danger unlike-btn">Unlike</a>
        {% else %}
          <a href="{{ url_for('like', news_id=news.id) }}" class="btn btn-success">Like</a>
        {% endif %}
      {% endif %}
{% if news.id != 1%}
<a class="navbar-brand ml-auto text-dark" href="/read_news/{{ back }}">Назад</a>
{% endif %}
{% if news.id - 1 != lenght%}
<a class="navbar-brand mr-auto text-dark" href="/read_news/{{ next }}">Вперед</a>
{% endif %}




</main>
    {% endblock %}
</main>
</body>